[user]
	name = John Marks
	email = jmarks@covermymeds.com
	username = jrmarks11
[core]
	excludesfile = ~/.gitignore_global
[push]
	default = current
[hub]
	host = git.innova-partners.com
[alias]
  br = branch
  co = checkout
  hs = log --pretty='format:%C(yellow)%h %Creset- %C(black)%s %C(bold blue)[%an]%Creset %Cgreen%cr' --graph
  s = status -s
  up = !git pull --rebase $@ && git submodule update --init --recursive && git submodule update --remote --merge
  yolo = push -f
